<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"></script>

</head>
<body>
<h1>Employee Detail</h1>
<div id="view"></div>
<!--Name: <p id="viewName"></p><br>-->
<!--Salary: <p id="viewSalary"></p><br>-->
<!--Age: <p id="viewAge"></p><br>-->
<!--Department: <p id="viewDepartment"></p><br>-->
<a href="http://localhost:63342/Exam-MD4-Employee-Management/src/main/resources/templates/home.html?_ijt=8kl43451pjh9vtn8c09nqs4cgf&_ij_reload=RELOAD_ON_SAVE">Back to list</a>
</body>
<script src="function.js"></script>
</html>